export()
export(dataMining)
export(importantVariables)
exportClasses(DataM)
exportClasses(DataM2)
exportMethods(dataMining)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
